@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Chivo:wght@400;500;600;700&display=swap');


img { width:100%;}
body { color:#fff;}

/* font-family: 'Amiko', sans-serif;
font-family: 'Chivo', sans-serif; */

.header-top { 
    background:url(./images/bnr.png) top no-repeat center;
    background-size:cover;
}
/* //Responsive */

@media only screen and (max-width: 1350px) {
    
}

@media only screen and (max-width: 1262px) and (min-width: 1024px) {
    
}
@media only screen and (max-width: 1023px) {
    
}
@media only screen and (max-width: 982px) {
    
}
@media only screen and (max-width: 685px) {
    
}
@media only screen and (max-width: 576px) {
    
}